body {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
}
input {
  height: 30px;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 2px;
}
input:focus {
  border: 2px solid blueviolet;
  outline: none;
}
